<table class="emailCockpitLinks" cellspacing="0">
	<tr>
		<th>Mailgun</th>
	</tr>
	<tr>
		<td><a href="https://mailgun.com/app/dashboard" target="mailgun_dashboard">
				Dashboard</a>
			|
			<a href="https://mailgun.com/app/support/new" target="mailgun_support">
				Support</a>
			|
			<a href="https://mailgun.com/app/domains/{{ emailDomain }}" target="mailgun_domain_config">
				Domain Configuration</a>
	</tr>
	<tr>
		<td >&nbsp;</td>
	</tr>
	<tr>
		<th >Other Tools</th>
	</tr>
	<tr>
		<td><a href="http://www.mail-tester.com/" target="mailtester.com">
				Mail Tester</a>
			|
			<a href="https://senderscore.org/lookup.php?lookup={{ lastKnownIp }}&validLookup=true" target="senderscore_ip">
				SenderScore IP Lookup</a>
			<br/>
			<a href="https://senderscore.org/lookup.php?lookup={{ emailDomain }}&validLookup=true" target="senderscore_domain">
				SenderScore Domain Lookup</a>
			|
			<a href="https://mxtoolbox.com/SuperTool.aspx?action=mx%3a{{ emailDomain }}&run=toolpage" target="mxtoolbox">
				MxToolbox</a></td>
	</tr>
</table>
{% if emailDomain == '' %}
	<h3 style="margin:0;float: right; clear: right;">Email domain is not configured</h3>
{% endif %}
{% if lastKnownIp == '' %}
	<h3 style="margin:0;float: right; clear: right;">There are no events yet - unable to get last sender IP</h3>		
{% endif %}