language: php

php:
  - 5.6
  - 7.1
  - 7.2
  - nightly

env:
  - SYMFONY_VERSION=2.7.*
  - SYMFONY_VERSION=2.8.*
  - SYMFONY_VERSION=3.3.*
  - SYMFONY_VERSION=dev-master

matrix:
  allow_failures:
    - env: SYMFONY_VERSION=dev-master
- php: nightly

sudo: false

cache:
  directories:
  - $HOME/.composer/cache

before_install:
  - composer self-update

before_script:
  - phpenv config-add travis.php.ini
  - travis_wait composer require symfony/symfony:${SYMFONY_VERSION} --prefer-source --no-update -v
  - travis_wait composer install --prefer-source

script:
  - phpunit --version
  - travis_wait vendor/phpunit/phpunit/phpunit --coverage-text --coverage-clover=coverage.clover /home/travis/build/azine/AzineMailgunWebhooksBundle/Tests/
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

notifications:
  email: travis@azine-it.ch



