<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
	>

    <php>
        <env name="KERNEL_CLASS" value="AppKernel" />
    </php>

    <testsuites>
        <testsuite name="Azine/MailgunWebhooksBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true"
                   addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./Command</directory>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./DependencyInjection</directory>
            <directory suffix=".php">./Entity</directory>
            <directory suffix=".php">./Services</directory>
            <!-- <exclude>
            </exclude> -->
        </whitelist>
    </filter>
</phpunit>
